$color-border: #ebebeb;
$input-bg: #eeeeee;
$input-hover-bg: #e6e6e6;
$input-placeholder: #9c9c9c;
$color-overlay: rgba(0, 0, 0, 0.6);
$button-color: #eb0c0c;
$button-hover-color: #c30000;
$info-message-color: #787878;
$white-color: #fff;

$searchbar-desktop-width: 420px;
$searchbar-height: 48px;

$searchbar-mobile-width: 266px;

$button-desktop-width: 84px;
