html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: -webkit-fill-available;
}
#root {
  max-width: 1980px;
  margin-left: auto;
  margin-right: auto;
}

@supports (-webkit-touch-callout: none) {
  html,
  body,
  input,
  button,
  select,
  textarea {
    font-family: Arial, sans-serif;
  }
}

* {
  box-sizing: border-box;
}
