@use "../../styles/variables" as vars;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: vars.$color-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 30px 0;
  box-sizing: border-box;

  @media (max-width: 768px) {
    align-items: flex-start;
    padding: 0;
  }
}

.modalContent {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  background: vars.$white-color;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  padding: 9px;

  @media (max-width: 768px) {
    top: 16px;
    right: 16px;
  }
}

.modalImage {
  max-width: 100%;
  object-fit: contain;

  max-height: calc(100vh - 60px);
  display: block;

  @media (max-width: 1024px) {
    max-height: fit-content;
  }
}
