@use "./styles/variables" as vars;

.noResults {
  text-align: left;
  color: vars.$info-message-color;
  padding: 40px 80px;
  @media (max-width: 768px) {
    padding: 40px 16px;
  }
}

.sentinel {
  height: 10px;
}
