body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
@supports (-webkit-touch-callout: none) {
  html,
  body,
  input,
  button,
  select,
  textarea {
    font-family: Arial, sans-serif;
  }
}

* {
  box-sizing: border-box;
}
